<% items.forEach(function(item){%>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" style="color: black" id="<%= item.id_the_loai%>">
                <%= item.ten_the_loai%>
            </h4>
        </div>
    </div>
<%});%>